In [2]:
!pip install pandas
!pip install numpy

import pandas as pd
import numpy as np

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.21.5)

In [3]:
file1 = pd.read_excel(io='C:/Users/Lenovo/Downloads/Archivo.xlsx' , sheet_name='Python')
file1.head()

,Logro: Eje,Logro: Tipo de registro,Año,Cadena,Valor
0,Exportaciones,Monto de Exportación,2009,Agroalimentos,163260.0
1,Exportaciones,Monto de Exportación,2009,Químicos y ciencias de la vida,15453.0
2,Exportaciones,Monto de Exportación,2009,Químicos y ciencias de la vida,31558.0
3,Exportaciones,Monto de Exportación,2009,Otros,1607000.0
4,Exportaciones,Monto de Exportación,2009,Agroalimentos,49900.0

In [8]:
g_sum = file1.groupby(['Año']).sum()
print("Group by Año is:\n", g_sum)

Group by Año is:
              Valor
Año
2009  1.094446e+09
2010  1.140488e+09
2011  1.369046e+09
2012  1.554111e+09
2013  1.977499e+09